@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #CF9A72;
    --first-color-alt: #EACBAC;
    --title-color: hsl(355, 4%, 15%);
    --text-color: hsl(355, 4%, 35%);
    --text-color-light: hsl(355, 4%, 55%);
    --body-color: #fff;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* them */
.nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

/* dark them */

body.dark-theme {
    --title-color: hsl(355, 4%, 95%);
    --text-color: hsl(355, 4%, 75%);
    --body-color: hsl(355, 20%, 12%);
    --container-color: hsl(355, 16%, 16%);
}

/* dark them TODO line 135 - 158 */

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4rem 0 1rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2-5);
    text-align: center;
}

.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle {
    color: var(--title-color);
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
}

.nav__logo-img {
    width: 3rem;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
        transition: .4s;
    }
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: rotate(-15deg);
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transform: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

/* show menu */
.show-menu {
    top: 0;
}

/* changing header of background */
.scroll-header {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

.active-link {
    color: var(--first-color);
}

/* home */
.home__container {
    padding-top: 1.5rem;
    row-gap: 1.5rem;
}

.home__img {
    width: 520px;
    justify-self: center;
}

.home__data {
    text-align: center;
}

.home__description {
    font-size: var(--small-font-size);
    padding: 0 2rem;
    margin-bottom: var(--mb-2-5);
}

/* button */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/* Giving */
.giving__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.5rem;
}

.giving__content {
    text-align: center;
    justify-content: center;
}

.giving__img {
    width: 133px;
    height: 7rem;
    transition: .3s;
}

.giving__img:hover {
    transform: translateY(-.25rem);
}

/* Celebrate */
.reserve__data {
    text-align: center;

}

.reserve__container {
    row-gap: 1rem;
    justify-items: center;
    background-color: var(--first-color-alt);
    padding: 2rem 1.5rem 0 1.5rem;
    border-radius: 2.5rem;

}

.reserve__discription {
    margin-bottom: 1.5rem;
}

.resever__img {
    width: 280px;
}

/* product */
.product__card {
    position: relative;
    width: 230px;
    background-color: var(--container-color);
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
    border-radius: .75rem;
    padding: 1rem 1rem 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;

}

.product__overlay {
    background-color: var(--first-color);
    width: 250px;
    height: 250px;
    position: absolute;
    top: -5rem;
    left: .65rem;
    border-radius: 50%;
    z-index: 0;
}

.product__img {
    position: relative;
    width: 150px;
    transition: .3s;
}

.product__button {
    position: absolute;
    width: 2rem;
    right: -43px;
    bottom: -26px;
    border: none;
}

.product__icon {
    margin-left: -35px;
    margin-bottom: 14px;
}

.product__card:hover .product__img {
    transform: translateY(-.5rem);
}

/* Swiper */
.swiper-pagination-bullet {
    background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/* reseving__input */
.reserving__container {
    row-gap: 1rem;
    background-color: var(--first-color-alt);
    border-radius: 20px;
}

.reserving__input {
    width: 80%;
    height: 2rem;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.reserving__form {
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.reserving__title {
    padding-bottom: 2rem;
}

.reserving__button {
    border: none;
    width: 50%;
}

.reserving__img {
    justify-self: center;
}

.footer__link {
    color: var(--text-color);
}

.footer__links {
    display: flex;
    row-gap: .75rem;
    flex-direction: column;
}

.footer__logo {
    color: var(--title-color);
    display: flex;
    align-items: center;
    font-weight: var(--font-medium);
    padding-bottom: 1rem;
}


.footer__logo-img {
    width: 3rem;
}

.footer__discription {
    color: var(--text-color);
}

.footer__container {
    row-gap: 2rem;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__aviable {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.footer__avaible-img {
    width: 100px;
    cursor: pointer;
}

.scrollup {
    position: fixed;
    bottom: 4%;
    right: 1rem;
    color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .35rem;
    background-color: var(--first-color);
    border-radius: 50%;
    z-index: var(--z-fixed);
    outline: none;
    opacity: .8;
    transition: .5s;
}

.scrollup:hover {
    /* background-color: var(--first-color-alt); */
    opacity: 1;
}



.scroll__icon {
    /* color: black; */
    font-size: 1.25rem;
}


/* scroll bar */

::-webkit-scrollbar {
    width: .6rem;
    background: var(--first-color-alt);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 1rem;
}

/* break point */
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .giving__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

/* for medium devises */
@media screen and (min-width: 576px) {
    .home__description {
        padding: 0 8rem;
    }

    .giving__container {
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        gap: 2.5rem 3.5rem;
    }

    .reserving__input {
        width: 90%;
        height: 45px;
    }

    .reserving__button {
        width: 60%;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6.5rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .dark-theme .nav__menu {
        box-shadow: none;
    }

    .home__container,
    .reserve__container,
    .reserving__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__container {
        padding-top: 8rem;
    }

    .home__description {
        padding: 0;
    }

    .home__data {
        text-align: initial;
    }

    .giving__container {
        grid-template-columns: repeat(3, 142px);
    }

    .prodect__container {
        grid-template-columns: repeat(3, 200px);
        gap: 2.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }

    .home__container {
        column-gap: 1rem;
    }

    .home__img {
        width: 500px;
    }

    .home__description {
        padding-right: 8rem;
    }

    .giving__container {
        column-gap: 8rem;
        padding-top: 2rem;
    }

    .giving__img {
        width: 150px;
    }


    .reservre__img {
        width: 450px;
    }

    .prodect__container {
        padding-top: 2rem;
    }

    .product__card {
        margin-bottom: 5rem;
        margin-right: 24px;
    }

    .product__price {
        font-size: var(--h3-font-size);
    }

    .reserving__container {

        grid-template-columns: repeat(2, max-content);
        column-gap: 4rem;
        justify-content: center;
    }

    .reserving__form {
        text-align: initial;
    }

    .reserving__input {
        display: block;
        width: 280px;
    }

    .reserving__button {
        width: initial;
    }

    .footer__container {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }

    .scrollup {
        right: 3rem;
    }
}